table {
    border-collapse: collapse;
    border: 1px solid black;
    box-shadow: 3px 3px 7px gray;
}

th {
    background: #66beff;
    border: 1px solid black;
    text-align: center;
    width: 25px;
}

td {
    border: 1px solid black;
    text-align: center;
    width: 20px;
    height: 30px;
}