<h1>Práce s textovými políčky</h1>
Tato aplikace Ruby on Rails vám dovoluje číst data z textových políček.
<br>
<%= form_tag("/hele/tady", :method => "get") do %>
  Zadejte prosím své jméno
  <br>
  <%= text_field("zpracovatel", "zpracovat") %>
  <br>
  <%= submit_tag("Odeslat dotaz") %>
<% end %>