* {
    box-sizing: border-box;
}

.wrapper {
    position: relative;
}

.scrollable_table {
    margin-left: 150px;
    overflow-x: auto;
    width: auto;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

th, td {
    font-size: 1rem;
}

.header {
    position: absolute;
    left: 0;
    width: 150px;
    padding: 5px;
    color: blue;
    border-right: 1px solid #f2f2f2;
}

tbody tr {
    white-space: nowrap;
}

.scrollable_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #355bb1;
    color: white;
}

.scrollable_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.scrollable_table td, .scrollable_table th {
    padding: 8px;
}

.scrollable_table tr:hover {
    background-color: #ddd;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}