<h1>Čtení dat z textových políček</h1>
Tato aplikace Ruby on Rails čte data z textových políček.
<br>
<br>
Jmenujete se <%= @data %>
<br>
nebo napřímo získaná data:
<br>
Jmenujete se <%= params[:textField] %>
<br>
<br>