article h2 {
    font-size: 2em;
}

article h1 {
    margin: 0px;
    font-size: 2.3em;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 4px solid #EF6534;
    text-shadow: 3px 3px 7px #666666;
}
article h1, h2, h3, h4, h5, h6 {
    padding: 10px 0;
    color: #8218a9;
    width: max-content;
}

article header {
    height: 100px;
    background: none;
}

article section {
    margin: 0;
}

article section p {
    margin-bottom: 1.5em;
    line-height: 1em;
}

article section a {
    color: #EF6534;
}

.centrovany {
    text-align: center;
}

#centrovac {
    margin: 0 auto;
    max-width: 960px;
}