<h1>Práce se dvěma pohledy</h1>
<br>
<br>
<h1>Vraťte se do práce!</h1>
<br>
<br>
Toto je aktivní pohled v aplikaci Ruby on Rails
<br>
<%= link_to "Jděte na oběd.", :action => "obed" %>
<br>
je to samé, jako
<br>
<a href="/prejit/obed">Jděte na oběd.</a>