p {
    margin: 0px;
}

.f {
    background: #9B35D2;
    color: white;
}

.m {
    background: #353dd2;
}

.a {
    background: #07fdd5;
}

.ze {
    background: #21ff00;
}

.zl {
    background: #e6ff00;
}

.o {
    background: #f3a50a;
}

.c {
    background: #ff0000;
}

.v {
    background: #790707;
    color: white;
}