<h1><span>Vítejte v Ruby on Rails</span></h1>
Toto je vaše první aplikace Ruby on Rails
<br>
<br>
Při sestavování aplikace jste se seznámili s řadiči akcemi a pohledy
<br>
2 + 3 = <%= 2 + 3 %>
<br>
To není pro začátek vůbec špatné